/* Swiper Navigation Styles */

/* app\globals.css */

/* Swiper Navigation Styles */
.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  bottom: 50%;
  transform: translateY(-50% -50%);
  color: rgb(226, 226, 226, 0.3) !important;
  background: none !important;
  width: 60px !important;
  height: 60px !important;
  border-radius: 50% !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  /* backdrop-filter: blur(10px); */
  /* border: 2px solid rgba(255, 255, 255, 0.25); */
  transition: all 0.3s ease !important;
  pointer-events: auto;
  opacity: 0 !important;
  overflow: hidden;
  padding: 10px;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  /* background: rgba(255, 255, 255, 0.1) !important; */
  color: rgb(226, 226, 226, 0.8) !important;
  transform: scale(1.5);
}

.swiper-button-next:active,
.swiper-button-prev:active {
  background: rgba(255, 255, 255, 0.3) !important;
  transform: scale(0.1);
}

.swiper-button-prev {
  left: 20px;
}
.swiper-button-next {
  right: 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 20px !important;
  color: white !important;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: rgb(221, 221, 221) !important;
  border: 1px solid rgb(200, 200, 200) !important;
  opacity: 1 !important;
  margin: 0 4px !important;
  transition: all 1s ease !important;
}

.swiper-pagination-bullet-active {
  background: rgb(114, 114, 114) !important;
  transform: scale(1.8) !important;
  transition: all 1s ease !important;
}

.swiper-pagination {
  bottom: 15px !important;
  opacity: 1 !important;
}

/* ---------------------------------------------------------------------------------FORMS */
form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0;
  color: black;
  background: none;
  border: none;
  outline: none;
}

form > * {
  width: 100%;
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  outline: none;
}

fieldset {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 0;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 0 6px rgb(175, 175, 175);
}

legend {
  width: 80%;
  max-width: 350px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
  background-image: linear-gradient(
    to right,
    rgba(255, 0, 0, 0),
    var(--lightGray) 10%,
    var(--lightGray) 90%,
    rgba(255, 0, 0, 0)
  );
}

.inline_form_elements_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  justify-content: space-between;
  align-items: center;
}
