@use "../styles/abstracts/variables" as *;
@use "../styles/abstracts/mixins" as *;

.container {
  @include container;
}

.section {
  @include section;
}

.faqMoreLink {
  display: flex;
  justify-content: center;
  margin-top: var(--space-8);
}
