@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--space-6);
  max-width: 600px;
  width: 100%;
  margin: 0 auto var(--space-16);
}

.trigger {
  @include button-reset;
  @include flex-between;
  width: 100%;
  background: $color-white;
  border-radius: $radius-md;
  color: $color-gray-800;
  font-size: $fs-sm;
  font-weight: $fw-semibold;
  cursor: pointer;
  transition: all $transition-fast;
  min-height: 48px;
  overflow: hidden;
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-lg);
  transition:
    border-color var(--transition-fast),
    box-shadow var(--transition-fast);

  &:hover {
    border-color: $color-primary;
  }

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 1px;
    // border-radius: $radius-md;
  }
}

.triggerContent {
  @include flex-center;
  gap: 0.5rem;
  padding: 0.7rem 1rem;
}

.triggerIcon {
  @include flex-center;
  flex-shrink: 0;
  color: $color-primary;
}

.triggerLabel {
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
}

.chevron {
  height: 48px;
  width: 48px;
  flex-shrink: 0;
  color: $color-gray-400;
  transition: transform $transition-slow;
  padding: 0.2rem;
}

.chevronOpen {
  transform: rotate(180deg);
}

.menu {
  position: absolute;
  top: calc(100% + 6px);
  left: 0;
  right: 0;
  z-index: $z-dropdown;
  background: $color-white;
  border: 1px solid $color-gray-200;
  border-radius: $radius-md;
  box-shadow: $shadow-lg;
  padding: 0.25rem;
  max-height: 320px;
  overflow-y: auto;
  @include custom-scrollbar;

  list-style: none;
  margin: 0;
}

.option {
  @include button-reset;
  @include flex-center;
  gap: 0.5rem;
  width: 100%;
  padding: 0.6rem 0.75rem;
  border-radius: $radius-sm;
  color: $color-gray-700;
  font-size: $fs-sm;
  font-weight: $fw-medium;
  text-align: left;
  transition: all $transition-fast;
  min-height: 44px;

  &:hover {
    background: $color-gray-50;
    color: $color-primary;
  }

  &:focus-visible {
    outline: 2px solid $color-primary;
    outline-offset: 1px;
  }

  span {
    flex: 1;
  }
}

.optionActive {
  background: $color-primary-50;
  color: $color-primary-dark;
  font-weight: $fw-semibold;

  &:hover {
    background: $color-primary-100;
    color: $color-primary-dark;
  }
}

.optionIcon {
  @include flex-center;
  flex-shrink: 0;
  color: $color-primary;
}

.check {
  flex-shrink: 0;
  color: $color-primary;
}

@include breakpoint-up("sm") {
  .wrapper {
    width: auto;
    min-width: 260px;
  }
}
