@use '../../styles/abstracts/variables' as *;
@use '../../styles/abstracts/mixins' as *;

.form {
  @include form-reset;
  gap: var(--space-5);
}

.row {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-5);

  @include breakpoint-up('sm') {
    grid-template-columns: 1fr 1fr;
  }
}

// Success
@include success-state;

.reference {
  font-size: var(--fs-sm);
  color: var(--color-text-light);

  strong {
    color: var(--color-primary);
  }
}

// Error
.error {
  @include error-banner;
}
